:root {
  --color-primary: #f3c72d;
  --color-secondary: #262626;
  --color-others: #383632;
  --border-primary: 2px solid var(--color-primary);
}

body {
  background-color: var(--color-secondary);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.btn-primary {
  color: var(--color-primary);
  border: var(--border-primary);
  border-radius: 5px;
  background-color: var(--color-others);
  outline: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-others);
}

.btn-primary.btn-disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-primary.btn-disabled {
  opacity: 0.5;
}

.btn-primary.btn-disabled:hover {
  background-color: var(--color-others);
  color: var(--color-primary);
}
